package view

import "gosuda.org/website/internal/types"

templ PostPageBody(m *Metadata, doc *types.Document, post *types.Post) {
	<body>
		@GosudaBlogPost(m, doc, post)
		<script src="/main.js" async defer></script>
	</body>
}
