package view

import "time"

type Metadata struct {
	Language    string
	Title       string
	Description string
	Author      string
	Keywords    []string
	Image       string
	URL         string
	CreatedAt   time.Time
	UpdatedAt   time.Time
	CustomHead  string
}

templ IndexPage(m *Metadata, blogPosts []*BlogPostPreview, featuredPosts []FeaturedPost) {
	<!DOCTYPE html>
	<html lang={ m.Language }>
		@Head(m)
		@IndexPageBody(m, blogPosts, featuredPosts)
	</html>
}
