package view

import (
	"time"
)

type Metadata struct {
	Language    string
	Title       string
	Description string
	Author      string
	Keywords    []string
	Image       string
	URL         string
	CreatedAt   time.Time
	UpdatedAt   time.Time
	CustomHead  string
}

// The components are now imported from their respective files
templ IndexPage(m *Metadata) {
	<!DOCTYPE html>
	<html lang={ m.Language }>
		@Head(m)
		@IndexPageBody(m)
	</html>
}
