package view

import "gosuda.org/website/internal/types"

templ PostPage(m *Metadata, doc *types.Document, post *types.Post) {
	<!DOCTYPE html>
	<html lang={ m.Language }>
		@Head(m)
		@PostPageBody(m, doc, post)
	</html>
}
